@keyframes mint {
  0% {
    left: 195px;
    transform: scale(0.5);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    left: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    left: 100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
body {
  padding: 0;
  margin: 0;
  background-color: #eceef1;
  font-family: "AvenirNext", avenir, "Helvetica Neue", helvetica, arial, sans-serif;
}

input {
  border: 1px solid #a3a3a3;
  outline: none;
  height: 30px;
  border-radius: 4px;
  padding: 0 0 0 10px;
}

button {
  background-color: #0b7ac9;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #636363;
  color: #fff;
}

.warning i {
  display: block !important;
  color: #ea8a23 !important;
}
.warning small {
  display: block !important;
  color: #ea8a23 !important;
  font-size: 12px;
}

.hide {
  display: none !important;
}

.input-with-icon {
  position: relative;
}
.input-with-icon input {
  width: 98%;
}
.input-with-icon i {
  position: absolute;
  font-size: 25px;
  right: 5px;
  top: 5px;
  color: #a3a3a3;
}

.error input {
  border-color: #fd4b51 !important;
}
.error i {
  color: #fd4b51 !important;
}
.error small {
  color: #fd4b51 !important;
}

header {
  padding: 10px;
  position: relative;
  padding-right: 40px;
}
header .login-header {
  position: relative;
  float: right;
}
header .login-header span {
  margin-right: 10px;
  float: left;
  display: flex;
  flex-direction: column;
}
header .login-header span small {
  font-size: 13px;
}
header .login-header span small:nth-of-type(1) {
  color: #8d9096;
}
header .login-header span small:nth-of-type(2) {
  color: #0b7ac9;
}
header .login-header button {
  padding: 8px 25px;
  font-size: 12px;
}
header .login-header button i {
  margin-right: 5px;
}

main {
  width: 100%;
}
main .signup-content {
  position: relative;
  clear: both;
  width: 100%;
}
main .signup-content .signup-form-content {
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
  width: 400px;
  margin-top: 50px;
}
main .signup-content .signup-form-content .icons-content {
  position: relative;
  flex: 1;
  padding-bottom: 15px;
}
main .signup-content .signup-form-content .icons-content .logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  opacity: 0;
  animation: fadeIn 1s 2.3s forwards normal;
  transition: all 1s ease-in-out;
}
main .signup-content .signup-form-content .icons-content .logo img {
  width: 100px;
  margin: 0 auto;
}
main .signup-content .signup-form-content .icons-content .icons {
  position: relative;
  justify-content: center;
  left: 130px;
  animation: slide-left 1s 2.3s forwards normal;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: row;
}
main .signup-content .signup-form-content .icons-content .icons .display {
  opacity: 0;
  animation: fadeIn 1s 2.3s forwards normal;
}
main .signup-content .signup-form-content .icons-content .icons .mint {
  opacity: 1 !important;
  animation: mint 1s 1s forwards normal;
  transition: all 1s ease-in-out;
}
main .signup-content .signup-form-content .icons-content .icons label {
  display: table;
  padding: 5px 5px;
}
main .signup-content .signup-form-content .icons-content .icons img {
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
main .signup-content .signup-form-content .icons-content .icons span {
  color: #8d9096;
  font-size: 17px;
}
main .signup-content .signup-form-content .form-content {
  background-color: #fff;
  border: 1px solid #b8b8b8;
  padding: 25px;
}
main .signup-content .signup-form-content .form-content .form-title {
  text-align: center;
}
main .signup-content .signup-form-content .form-content .form-title span {
  color: #4c4c4c;
  font-size: 22px;
}
main .signup-content .signup-form-content .form-content .form-title p {
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 2px;
}
main .signup-content .signup-form-content .form-content .form-title a {
  text-decoration: none;
  color: #0b7ac9;
  font-size: 13px;
  font-weight: 200;
}
main .signup-content .signup-form-content .form-content #signup-form {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
main .signup-content .signup-form-content .form-content #signup-form .form-group {
  flex: 1;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}
main .signup-content .signup-form-content .form-content #signup-form .form-group label {
  color: #4c4c4c;
  margin-bottom: 10px;
}
main .signup-content .signup-form-content .form-content #signup-form .form-group i {
  display: none;
}
main .signup-content .signup-form-content .form-content #signup-form .form-group .password-error {
  display: flex;
  flex-direction: column;
}
main .signup-content .signup-form-content .form-content #signup-form .form-group .password-error small {
  font-size: 12px;
  margin-bottom: 2px;
  /* stylelint-disable */
  /* stylelint-enable */
}
main .signup-content .signup-form-content .form-content #signup-form .form-group .password-error small i {
  font-size: 12px;
  font-weight: 100;
  margin-right: 5px;
}
main .signup-content .signup-form-content .form-content #signup-form .form-group button {
  padding: 12px 50px;
  font-size: 15px;
  /* stylelint-disable */
  /* stylelint-enable */
}
main .signup-content .signup-form-content .form-content #signup-form .form-group button i {
  margin-right: 5px;
}
main .signup-content .signup-form-content .form-content #signup-form .form-group.phone small {
  color: #4c4c4c;
  font-size: 10px;
  margin: -3px 0 0 0;
}
main .privacy {
  color: #8d9096;
  font-size: 12px;
  font-style: italic;
  line-height: 2;
  padding: 0 20px;
  text-align: center;
  /* stylelint-disable */
  /* stylelint-enable */
}
main .privacy a {
  color: #0b7ac9;
  text-decoration: none;
}
main .form-footer {
  padding: 30px 0;
  text-align: center;
  font-size: 10px;
  color: #a3a3a3;
  background-color: #eceef1;
  border: 1px solid #b8b8b8;
  border-top: none;
  /* stylelint-disable */
  /* stylelint-enable */
}
main .form-footer a {
  color: #0b7ac9;
  text-decoration: none;
}
main .settings {
  position: fixed;
  bottom: 0;
  right: 30px;
  margin: 0;
  padding: 15px 20px;
  background-color: #4c4c4c;
  font-size: 15px;
  border-radius: 3px 3px 0 0;
}

footer {
  text-align: center;
  font-size: 13px;
  color: #636363;
  padding: 15px 0;
  /* stylelint-disable */
}
footer p {
  margin: 4px;
  /* stylelint-enable */
}
footer p a {
  color: #636363;
  text-decoration: none;
  margin: 0 5px;
}
footer p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
