@keyframes mint {
  0% {
    left: 195px;
    transform: scale(0.5);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    left: 100px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}
