$color_main: #0b7ac9;
$color_gray: #8d9096;
$color_gray_2: #a3a3a3;
$color_gray_1: #4c4c4c;
$color_warning: #ea8a23;
$color_danger: #fd4b51;
$color_gray_dark: rgb(99, 99, 99);
$color_white: #fff;
$color_gray_light: #eceef1;
$size: 30px;
$font-1: "AvenirNext", avenir, "Helvetica Neue", helvetica, arial, sans-serif;

$xl_screen: "only screen and (min-width: 1200px) and (max-width: 3640)";
$lg_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
$md_screen: "only screen and (min-width: 992px) and (max-width: 1200)";
$sm_screen: "only screen and (min-width: 768px) and (max-width:991)";
$xs_screen: "(max-width: 576px)";
